<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <style>
      html,
      body {
        margin-top: 2.7%;
        color: #ccc;
        background: #2d3945;
        font-family: Calibri;
      }

      .container {
        width: 360px;
        margin: 0 auto;
        padding: 5px 20px 0 20px;
        border: 2px solid #ccc;
        border-radius: 7px;
      }

      .container legend {
        color: #ccc;
        margin: 0 0 0 280px;
        padding: 0;
        letter-spacing: 2px;
      }

      .wrapper {
        margin: 0 0 20px 0;
      }

      .hint {
        color: #888;
        margin: 0;
        font-size: 12px;
        text-align: justify;
      }

      .lbl-tb {
        font-size: 12px;
        text-transform: uppercase;
      }

      .frm-ctrl {
        color: #eee;
        background: transparent;
        margin: 5px 0;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        outline: none;
        font-family: Calibri;
      }

      .tb {
        width: 350px;
        font-size: 19px;
      }

      .btn {
        width: 360px;
        height: 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: all 0.2s;
      }

      .btn:hover {
        color: #2d3945;
        background: #eee;
      }

      .btn:active {
        border: 1px solid #333;
      }
    </style>
    <form action="/" method="POST">
      <fieldset class="container">
        <legend><i class="fa fa-empire fa-4x"></i></legend>
        <div class="wrapper">
          <label for="tbUnm" class="lbl-tb">
            <i class="fa fa-user fa-fw"></i> Username
          </label>
          <br />
          <input
            id="tbUnm"
            name="fullname"
            type="text"
            required
            class="frm-ctrl tb"
            spellcheck="false"
            autocomplete="off"
          />
          <p class="hint">
            This name will be your unique identity on the website
          </p>
        </div>
        <div class="wrapper">
          <label for="tbEmail" class="lbl-tb">
            <i class="fa fa-envelope-o fa-fw"></i> Email
          </label>
          <br />
          <input
            id="tbEmail"
            name="email"
            type="text"
            required
            class="frm-ctrl tb"
            spellcheck="false"
            autocomplete="off"
          />
          <p class="hint">
            We will be using this email address to contact you and recover your
            password if you forget it
          </p>
        </div>
        <div class="wrapper">
          <label for="tbPwd1" class="lbl-tb">
            <i class="fa fa-unlock fa-fw"></i> Password
          </label>
          <br />
          <input
            id="tbPwd1"
            name="password"
            required
            type="password"
            class="frm-ctrl tb"
          />
          <p class="hint">
            The password should have at least lowercase characters, uppercase
            characters, numbers and symbols
          </p>
        </div>
        <div class="wrapper">
          <input type="submit" class="frm-ctrl btn" value="Register" />
        </div>
      </fieldset>
    </form>
  </body>
</html>
