<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Email</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      /* html {
        width: 100vw;
        height: 100vh;
      } */

      body {
        margin-top: 150px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: top;
        background-image: url(https://static.vecteezy.com/system/resources/previews/042/195/471/non_2x/ai-generated-rainy-city-background-free-photo.jpg);
        width: 100%;
        height: 100%;
        font-family: Arial, Helvetica;
        letter-spacing: 0.02em;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
      }

      .blurred-box {
        position: relative;
        width: 250px;
        height: 350px;
        top: calc(50% - 175px);
        left: calc(50% - 125px);
        background: inherit;
        border-radius: 2px;
        overflow: hidden;
      }

      .blurred-box:after {
        content: "";
        width: 300px;
        height: 300px;
        background: inherit;
        position: absolute;
        left: -25px;
        left: position;
        right: 0;
        top: -25px;
        top: position;
        bottom: 0;
        box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
        filter: blur(10px);
      }

      .user-login-box {
        position: relative;
        margin-top: 50px;
        text-align: center;
        z-index: 1;
      }
      .user-login-box > * {
        display: inline-block;
        width: 200px;
      }

      .user-icon {
        width: 100px;
        height: 100px;
        position: relative;
        border-radius: 50%;
        background-size: contain;
        background-image: url(https://images.unsplash.com/photo-1707396174190-4dcb89a7dd8f?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      }

      .user-name {
        margin-top: 15px;
        margin-bottom: 15px;
        color: white;
      }

      input.user-password {
        width: 120px;
        margin-top: 10px;
        height: 18px;
        opacity: 0.4;
        border-radius: 2px;
        padding: 5px 15px;
        border: 0;
      }
    </style>
    <div class="container">
      <form id="neon-form" action="/verify" method="POST">
        <div class="blurred-box">
          <div class="user-login-box">
            <span class="user-icon"></span>
            <div class="user-name">We sent verification code to your email address</div>
            <input class="user-password" type="text" required name="verificationCode" placeholder="Verification Code"/>
            <input class="user-password" type="email" required name="email"placeholder="Your EMAIL"/>
            <button style="margin-top: 8px; color: white; border-radius: 5px; height: 30px; background-color: rgba(255, 255, 255, 0.082); box-shadow: none; border-color: rgba(255, 255, 255, 0.679); " >Send</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
